
<!DOCTYPE html>
<html>
        <script type="module" src="client.js"></script>
    <head>
        <p>Welcome, <%= username %><p>
        <form action="/logout" method="post" id="logoutform"></form>
        <button id="logout">Log Out</button>

        <title>Page Title</title>
    </head>
    <body>
        <h1>Genshin Impact Artifact Sim</h1>
        <p>Copium</p>
    </body>

<!--
<form action="/artifacts" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="description" name="desc">
    <button type="submit">Submit</button>
</form>
-->

    <h2> Domains </h2>
    <h3> Hidden Palace of Zhou Formula </h3>
    <button id="roll-hidden_palace">
    <img src = "images/Item_Flower_of_Blaze.png" width= "100" height: "100"></button>

    <h3> Peak of Vindagnyr </h3>
    <button id ="roll-vindagnyr">
    <img src = "images/Item_Snowswept_Memory.png" width= "100" height: "100"></button>


    <h2> Artifacts </h2>
    <script language="JavaScript">
    function toggle(source) {
      checkboxes = document.getElementsByName('check');
        for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
        }
    }
    </script>



    <input type="checkbox" onClick="toggle(this)" /> Toggle All<br/>
    <button type="submit" form="deleteform" id="deleteformid">Delete</button>
    <button type="submit" form="levelform">Level</button>

    <ul class="artifacts">
        <!-- Loop through quotes -->
        <form action="/delete" method="post" id="deleteform"></form>
        <form action="/level" method="post" id="levelform"></form>
        <% for(var i = 0; i < artifacts.length; i++) {%>
        <!--<li class="artifact"> -->
        <button type="button" id= "button<%=artifacts[i]._id%>"
                <span><input type="checkbox" name="check" value="<%=
                                   artifacts[i]._id%>" autocomplete="off" form="deleteform"/></span>

                <% for(var j = 0; j < artifacts[i].rarity; j++) {%>
                    <span>&#11088</span>
                <% } %>
                <span><input type="radio" id= "radio<%=i%>" name="pickArtifact"
                                                            value="<%=
                                                                    artifacts[i]._id%>"
                                                            autocomplete="off"
                                                            form="levelform"></span><br/>
                <span><label for= "radio<%=i%>" <span><%= artifacts[i].name
                             %></span><br/>
                         <span id = "level<%= artifacts[i]._id %>">+<%= artifacts[i].level %> <%= artifacts[i].slot %></span><br/>
                <span style="font-weight:bold"><%= artifacts[i].main %></span><br/>
                <span id =
                    "main<%=artifacts[i]._id%>"><%=Math.round(artifacts[i].mainVal*10)/10 %></span><br/>
                <span id = "subs<%=artifacts[i]._id%>">
                <%= artifacts[i].sub1 %>: <%=Math.round(artifacts[i].sub1Val*10)/10 %><br/>
                <%= artifacts[i].sub2 %>: <%=Math.round(artifacts[i].sub2Val*10)/10 %><br/>
                <%= artifacts[i].sub3 %>: <%=Math.round(artifacts[i].sub3Val*10)/10 %><br/>
                <% if(artifacts[i].sub4) { %>
                    <%= artifacts[i].sub4 %>: <%=Math.round(artifacts[i].sub4Val*10)/10 %><br/>
                <% } %>
                </span>
                </button>
                <!-- </li>-->
        <% } %>
    </ul>
</html>
