<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="index.css">
    
    <!---
        <nav id="navBar">
            <aside class="menu" id="menu">
                <p class="menu-label">
                General
                </p>
                <ul class="menu-list">
                <li><a>Dashboard</a></li>
                <li><a>Customers</a></li>
                </ul>
                <p class="menu-label">
                Administration
                </p>
                <ul class="menu-list">
                <li><a>Team Settings</a></li>
                <li><a>Manage Your Team</a>
                    <ul>
                    <li><a>Members</a></li>
                    <li><a>Plugins</a></li>
                    <li><a>Add a member</a></li>
                    </ul>
                </li>
                <li><a>Invitations</a></li>
                <li><a>Cloud Storage Environment Settings</a></li>
                <li><a>Authentication</a></li>
                </ul>
                <p class="menu-label">
                Transactions
                </p>
                <ul class="menu-list">
                <li><a>Payments</a></li>
                <li><a>Transfers</a></li>
                <li><a>Balance</a></li>
                </ul>
            </aside>
        </nav>
    <--->
    <script type="module">
        import {artifactSets, convertArtifacts, main_percentages, sub_percentages, getRandInt, weightedRand} from './artifactModule.mjs';
        window.artifactSets = artifactSets;
        window.convertArtifacts = convertArtifacts;
        window.main_percentages = main_percentages;
        window.sub_percentages = sub_percentages;
        window.getRandInt = getRandInt;
        window.weightedRand = weightedRand;
    </script>
    <script src="client.js"></script>
    <script id="inject" type=application/json><%-JSON.stringify(artifacts)%></script>
    <script> 
        const artifactArr = JSON.parse(document.getElementById('inject').text);
        const artifactArrObj = {};
        
        artifactArr.forEach(elem => {
            artifactArrObj[elem._id] = elem;
        })
        function selectCard1(...args){selectCard(...args)}
        function addButton1(...args){addButton(...args)}
    </script>

    <p>Welcome, <%= username %><p>
        <% if(loggedIn === true) { %>
            <button id="logout">Log Out</button>
        <% } else {  %>
            <div class="block">
                <form action="api/discord/auth/discord" method="get" id="authdiscord"></form>
                <button type="submit" form="authdiscord" id="discordbutton">Sign in with Discord</button>
                <form action="api/discord/auth/google" method="get" id="authgoogle"></form>
                <button type="submit" form="authgoogle" id="googlebutton">Sign in with
                    Google</button>
            </div>
        <% } %>

        <head>
            <div class="block">
                <title>Genshin Impact Artifact Sim</title>
            </div>
        </head>
        <body>
            <div class="block">
                <h1>Genshin Impact Artifact Sim</h1>
            </div>
        </body>

    <div id='domainFlex'>
        <div class="block">
            <h2> Domains </h2>
        </div>
        <div class="block">
            <button id="roll-guyun" name="domain" style="background-image: url('./images/domains/guyun1.png');">
                <span class="domaintag">Domain of Guyun</span>
            </button>

            <button id ="roll-midsummer" name="domain" style="background-image: url('./images/domains/midsummer_courtyard1.png');">
                <span class="domaintag">Midsummer Courtyard</span>
            </button>

            <button id="roll-valley" name="domain" style="background-image: url('./images/domains/valley_remembrance1.png');">
                <span class="domaintag">Valley of Remembrance</span>
            </button>

            <button id="roll-hidden_palace" name="domain" style="background-image: url('./images/domains/hidden_palace1.png');">
                <span class="domaintag">Hidden Palace of<br/>Zhou Formula </span>
            </button>
            
            <button id ="roll-vindagnyr" name="domain" style="background-image: url('./images/domains/vindagnyr1.png');">
                <span class="domaintag">Peak of Vindagnyr</span>
            </button>

            <button id ="roll-ridge_watch" name="domain" style="background-image: url('./images/domains/ridge_watch1.png');">
                <span class="domaintag">Ridge Watch</span>
            </button>

            <button id="roll-momiji_court" name="domain" style="background-image: url('./images/domains/momiji_court1.png');">
                <span class="domaintag">Momiji-Dyed Court</span>
            </button>

            <button id="roll-clear_pool" name="domain" style="background-image: url('./images/domains/clear_pool1.png');">
                <span class="domaintag">Clear Pool and Mountain Cavern</span>
            </button>
        </div>
    </div>
    <div id="entire">
        <div id="resininfo">
            <div class="block">
                <span hidden id ="resindate"><%=resinDate%></span>
            </div>

            <div class="block" id='resinTC'>
                <span>Time to next resin: </span>
                <span id ="resintimer"></span><br/>
                <span>Resin: </span>
                <span id ="resincount"><%= resin %></span><br/>
            </div>

        <div class="block">
            <input type="checkbox" onClick="toggle(this)" /> Toggle All<br/>
            <button type="submit" form="deleteform" id="deleteformid">Delete</button>
            <button type="submit" form="levelform">Level</button>
        </div>
    </div>

    <!--< % var slotEnums = {"Flower of Life": 0, "Plume of Death": 1, "Sands of Eon": 2, "Goblet of Eonothem": 3, "Circlet of Logos": 4} %> -->

    <div class="card">
        <header class="card-header">
            <p class="card-header-title is-centered" id= cardheader>
            <%= artifacts[0] && artifacts[0].name %>
            </p>
        </header>
        <div class="card-image">            
            <figure class="image is-128x128">
            <img id= "cardimage" src="images/artifactSets/<%= artifacts[0] && artifacts[0]['set']%>/<%= artifacts[0] && artifacts[0]['slot']%>.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-right" id="lock">
                    <figure class="image is-24x24">
                    <img src="images/lock.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="media-content" id="card-main">
                    <p class="subtitle is-6" id="cardmain"> <%- artifacts[0] && artifacts[0].main %></p>
                    <p class="title is-4" id="cardmainVal"><%- artifacts[0] && Math.round(artifacts[0].mainVal*10)/10 %></p>
                </div>
            </div>

            <div class="content" id="cardstats">
                <ul>
                    <% if (artifacts[0]) { %>
                        <% for(var j = 0; j < artifacts[0].subOrder.length; j++) {%>
                            <li id="li<%=j%>"><%= artifacts[0].subOrder[j] %>+<%=Math.round(artifacts[0][artifacts[0].subOrder[j]]*10)/10 %><br/></li>
                        <% } %>
                    <% } %>
                </ul>
            </div>

            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                <a href="#">#css</a> <a href="#">#responsive</a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
        </div>
        <footer class="card-footer">
            <button type="button" id="footerbutton" class="card-footer-item">Details</button>
        </footer>
    </div>

    <div class="artifacts">
        <!-- Loop through quotes -->
        <form action="/delete" method="post" id="deleteform"></form>
        <form action="/level" method="post" id="levelform"></form>

        <% for(var i = 0; i < artifacts.length; i++) {%>
        <button type="button" id= "button<%=artifacts[i]._id%>" name="artifactButton" onclick="(()=>{selectCard1(artifactArrObj['<%-artifacts[i]._id%>'])})()">
                <span><input type="checkbox" name="check" value="<%=
                                artifacts[i]._id%>" autocomplete="off" form="deleteform"/></span>

                <% var starStr = ""; %>
                <% for(var j = 0; j < artifacts[i].rarity; j++) {%>
                    <%starStr += "&#11088"%>
                <% } %>
                <%starStr = starStr.trim()%>
                <%-starStr-%>
                <span><input type="radio" id= "radio<%=artifacts[i]._id%>" name="pickArtifact"
                    value="<%=artifacts[i]._id%>" autocomplete="off" form="levelform"></span><br/>
                <span><label for= "radio<%=artifacts[i]._id%>"> <span><%= artifacts[i].name
                            %></span><br/>
                        <span id = "level<%= artifacts[i]._id %>">+<%= artifacts[i].level %> <%= artifacts[i].slot %></span><br/>

                <span id = "xp<%= artifacts[i]._id %>"><%=Math.abs((artifacts[i].requiredCumulativeXP-artifacts[i].cumulativeXP)-artifacts[i].requiredXP) %>/<%= artifacts[i].requiredXP %> XP</span><br/>
                <span style="font-weight:bold"><%= artifacts[i].main %></span><br/>
                <span id =
                    "main<%=artifacts[i]._id%>"><%=Math.round(artifacts[i].mainVal*10)/10 %></span><br/>
                <span id = "subs<%=artifacts[i]._id%>">

                <% for(var j = 0; j < artifacts[i].subOrder.length; j++) {%>
                    <%= artifacts[i].subOrder[j] %>: <%=Math.round(artifacts[i][artifacts[i].subOrder[j]]*10)/10 %><br/>
                <% } %>
                </span>
                </button>
                <!-- </li>-->
        <% } %>
    </div>
</div>
</html>
